.modal{
    width: 390px;
    height: 490px;
    padding: 10px;
    display: none;
    flex-direction: column;
}
h6{
    font-size: 14px;
    margin: 1px;
}
.m-top{
    margin-top: 600px;
}
.w-368{
    width: 360px;
    height: 10px;
}
.desc{
    width: 360px;
    height: 60px;
}
.addtaskbtn{
    margin-top: 50px;
    width: 380px;
}
.addbtn{
    width: 100%;
    height: 30px;
}
select{
    width: 375px;
    height: 30px;
}