body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b7d4e298-bf4c-401c-8d70-d1fb38cc0be7/d8s1yqi-1a676563-2de3-4abc-9d43-3efae7f9c9dc.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I3ZDRlMjk4LWJmNGMtNDAxYy04ZDcwLWQxZmIzOGNjMGJlN1wvZDhzMXlxaS0xYTY3NjU2My0yZGUzLTRhYmMtOWQ0My0zZWZhZTdmOWM5ZGMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.AMAJrk197Mf0mxbPDWQWGyvHF9JgoPSywvKRn4OPaD0);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2{
    margin: 5px 0px 10px 0px;
}
h5{
    font-size: 15px;
    margin: 10px 0px 2px 0px;
}
button{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
input{
    width: 340px;
    height: 20px;
}
select{
    width: 350px;
    height: 30px;
}
.grey-hover:hover{
    background-color: #c0c0c4;
}
.po-rela{
    position: relative;
}
.po-abs{
    position: absolute;
}
.gap-20{
    gap: 20px;
}
.gap-12{
    gap: 12px;
}
.wh-100{
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.card{
    padding: 10px;
    width: 260px;
    border-radius: 12px;
}
.modal{
    width: 350px;
    height: 480px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 500px;
    flex-direction: column;
    /* display: none; */
}
.addtaskbtn{
    height: 30px;
    margin-top: 40px;
}
.desc{
    height: 70px;
}
.color-white{
    color: white;
}
.bg-grey{
    background-color: #EBECF0;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
