/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
  margin: 0;
}
.container{
  width: 1280px;
}
h3{
  font-size: 36px;
}
h5{
  font-size: 30px;
}
h6{
  font-size: 20px;
}
p{
  color: var(--gray-600, #4B5563);
  line-height: 24px;
}
.p-20{
  padding: 0px 20px 0px 20px;
}
.p-28{
  padding: 28px;
}
.p-48{
  padding: 48px;
}
.bg-white{
  background-color: white;
}
.bg-gray{
  background: var(--gray-50, #F9FAFB);
}
.m-top-96{
  margin-top: 96px;
}
.m-bottom-96{
  margin-bottom: 96px;
}
.w-64{
  width: 64px;
  height: 64px;
}
.gray600{
  color: Gray/600;
}
.btngray{
  height: 25px;
  border-radius: 12px;
  background: var(--gray-200, #E5E7EB);
  border: none;
  color: Gray/600;
}