@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
}
.container{
  width: 1280px;
}
p{
  color: var(--gray-600, #4B5563);
  line-height: 24px;
}
.p-28{
  padding: 28px;
}
.p-48{
  padding: 48px;
}
.bg-white{
  background-color: white;
}
.bg-gray{
  background: var(--gray-50, #F9FAFB);
}
.w-64{
  width: 64px;
  height: 64px;
}
.gray600{
  color: Gray/600;
}
.btngray{
  height: 25px;
  border-radius: 12px;
  background: var(--gray-200, #E5E7EB);
  border: none;
  color: Gray/600;
}
.black-theme{
  .navcontainer{
    color: white;
    background: var(--gray-dark-default, #030712);
  }
  .downloadbtn{
    width: 120px;
    height: 45px;
    color: #030712;
    background: var(--gray-dark-900, #F9FAFB);
  }
  .aboutcontainer{
    color: white;
    background: Gray/Dark/200;
  }
  .introcontainer{
    background: var(--gray-dark-default, #030712);
  }
  .workmain{
    color: var(--gray-dark-600, #D1D5DB);
  }
  .workleft{
    border-right: 1px solid var(--gray-dark-100, #1F2937);
    background: var(--gray-dark-200, #374151);
  }
  .workright{
    background: var(--gray-dark-100, #1F2937);
  }
  .btngray{
    background: var(--gray-dark-200, #374151);
  }
  .exp{
    background: var(--gray-dark-100, #1F2937);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
    color: white;
  }
  .years{
    color: white;
  }
  .abouttheme{
    width: 100%;
    background: var(--gray-dark-200, #374151);
  }
}