*{
  margin: 0;
}
.body{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  width: 1280px;
}
.gap24{
  gap: 24px;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
li{
  list-style-type: none;
}
.gray600{
  color: Gray/600;
}